GROQ_API_KEY=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

# Paths (defaults work out of the box)
PRELOADED_PDFS_DIR=data/preloaded_pdfs
VECTOR_STORE_DIR=vector_store
COLLECTION_NAME=studyrag_docs

# Model
MODEL_NAME=llama-3.3-70b-versatile
MODEL_TEMPERATURE=0.0

# Chunking
CHUNK_SIZE=1024
CHUNK_OVERLAP=100
