GROQ_API_KEY=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

# Paths (defaults work out of the box)
PRELOADED_PDFS_DIR=data/preloaded_pdfs
VECTOR_STORE_DIR=vector_store
COLLECTION_NAME=studyrag_docs

# Model
MODEL_NAME=llama-3.3-70b-versatile
MODEL_TEMPERATURE=0.0

# Chunking
CHUNK_SIZE=1024
CHUNK_OVERLAP=100
